
<html>
<head>
<title>Course Materials Manager</title>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
crossorigin="anonymous" />
<script src="//code.jquery.com/jquery-2.2.2.min.js"
integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
crossorigin="anonymous"></script>
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link
href='//fonts.googleapis.com/css?family=Work+Sans:300,400,700|Raleway:300,700' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" />
</head>
<body>

<h1>Course Materials</h1>
<section class="options col-md-12">
<div class="half col-md-4">
<i class="half-icon fa fa-file-o" aria-hidden="true"></i>
<h2>Homework</h2>
<p>Homeworks are assignments composed of unrelated questions. Click below to organize and create new homework assignments
</p>

  <a href="/hw" class="button dropdown-toggle" type="button" >View Homework</a>
</div>
<div class="half col-md-4">
<i class="half-icon fa fa-flask" aria-hidden="true"></i>
<h2>Labs</h2>
<p>Labs are 2-hr long assignments with some natural progression. Click below to organize and create new labs
</p>
  <a href="/hw" class="button dropdown-toggle" type="button" >View Labs</a>

</div>
<div class="half col-md-4">
<i class="half-icon fa fa-question-circle-o" aria-hidden="true"></i>
<h2>Questions</h2>
<p>Questions are small problems which may be included in labs and homeworks. Click below to edit and create new questions
</p>

    <a href="/questions" class="button dropdown-toggle" type="button" >View Questions</a>

</div>
</section>


</body>


</html>
